/* tprofundo    #00303f
** tintenso     #f7cc31
** tclaro       #cae4db
** tneutro      #7a9d96
** toscuro      #004f67 
*/
/********************* Estilos de mi paleta de colores *********************/
:root {
    --tprofundo: #00303f;
    --tintenso: #f7cc31;
    --tclaro: #cae4db;
    --tneutro: #7a9d96;
    --toscuro: #004f67;
    --tblanco: #FFFFFF;
}
.tc-tprofundo {
    color: var(--tprofundo) !important;
}
.bgc-tprofundo {
    background-color: var(--tprofundo) !important;
}
.tc-tintenso {
    color: var(--tintenso) !important;
}
.bgc-tintenso {
    background-color: var(--tintenso) !important;
}
.tc-tclaro {
    color: var(--tclaro) !important;
}
.bgc-tclaro {
    background-color: var(--tclaro) !important;
}
.tc-tneutro {
    color: var(--tneutro) !important;
}
.bgc-tneutro {
    background-color: var(--tneutro) !important;
}
.tc-toscuro {
    color: var(--toscuro) !important;
}
.bgc-toscuro {
    background-color: var(--toscuro) !important;
}

.bgc-tblanco {
    background-color: var(--tblanco) !important;
}

/*---------------------------------------------------*/

body{
    font-family: 'Roboto', sans-serif;
    background-color: var(--tprofundo);
    color: var(--tprofundo);
}

main{
    background-color: var(--tblanco);
}

h1, h2, h3 {
    font-family: 'Merienda One', cursive;

}

/********************* Utilidades *********************/

.opaco-5 {
    opacity: .5;
}
.opaco-5:hover {
    opacity: 1;
}

.opaco-8 {
    opacity: .8;
}
.opaco-8:hover {
    opacity: 1;
}

/*---------------------------------------------------*/

/********************* Nodos Css *********************/

header {
    margin-top: 55px;
}

footer p{

    padding: 12px;
    margin: 0;
    font-size: .8em;
}

/*---------------------------------------------------*/

.container-section-brand{
    background-color: rgba(0, 79, 103, 0.70);
    padding: 120px 0;
}

.bg-foto-perfil {
    background-image: url(../img/bg-perfil.jpg);
    background-position: center;
    background-size: cover;
}
.container-section-perfil {
    background-color: rgba(0, 79, 103, 0.70);
    padding: 120px 0;
}

.section-brand {
    min-width: 20em;
    max-width: 50em;
}

.section-brand p {
    padding: 0 30px;
}

.logo-home {
    width: 600px;
}

.p-section {
    padding: 100px 0;
}

img.pet-thumb {
    cursor: pointer;
    box-shadow: rgba(0, 0, 0, 0.2) 0px 3px 5px;
    transition: all .3s;
}
img.pet-thumb:hover {
    transform: scale(1.04);
    box-shadow: rgba(0, 0, 0, 0.4) 0px 13px 27px -5px, rgba(0, 0, 0, 0.45) 0px 8px 16px -8px;
}
.basicLightbox{
    z-index: 1090 !important;
}
.lb-container{
    background-color: rgba(0,0,0,.2);
    position: relative;
    border-radius: 10px;
    overflow: hidden;
}
.lb-container img {
    max-height: 90vh; 
    max-width: 90vw;
}
.lb-container .pet-info {
    position: absolute;
    top: 0;
    left: 0;
}

.pet-info-bar {
    background-color: #00303f;
    opacity: .8;
}

.pet-info-bar h3 {
    font-size: 1.4rem;
}
.pet-info-bar h5 {
    font-size: 1.1rem;
}
.pet-info-bar button {
    color: #cae4db;
    border-color: #cae4db;
    opacity: .5;
}
.pet-info-bar button:hover {
    color: #004f67;
    border-color: #cae4db;
    background-color: #cae4db;
    opacity: 1;
}
div.pet-info-desc {
    padding-top: 0%;
    padding-left: 5%;
    padding-right: 5%;
    padding-bottom: 5%;
    overflow: hidden;
    opacity: 0;
}
div.pet-info-desc.mas-info {
    padding-top: 5%;
    opacity: .8;
    
}
div.pet-info-desc {
    transition: all 0.3s cubic-bezier(.25,.8,.25,1) 0s;
}



@media (max-width: 800px) {
    .logo-home {
        width: 80%;
    }
    .container-section-brand-home {
        padding: 80px 0;
    }
    .container-section-brand {
        padding: 60px 0;
    }

    /* ------- mascotas */

    .pet-info-bar h3 {
        font-size: 1rem;
    }
    .pet-info-bar h5 {
        font-size: .9rem;
    }
    .filter-box {
        margin-top: 230px;
    }
}